.collection-list,
.product-grid {
  /* padding: 2em; */
  /* margin-left: 4em; */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center !important;



}

.images {
  justify-content: center !important;
  justify-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.add-to-cart {
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  width: 100%;
  height: 50px;
  font-weight: 'bold' !important;
}