.search-input::placeholder {
    color: white  !important; 
  }
  .search-input {
    border: .1px solid #9d9a9a !important; 
    border-radius: .1px !important; ; 
  }

  .navbar-form {
    margin-left: -300px; /* Adjust this value to move the input form to the left */
  }
  .menu-item {
    color: #cbc6c6 !important;
    /* Add other styles as needed */
}
.margin
{
    margin-top: 20px;
}
.footer
{
  border-top : 0.1px solid rgb(162, 161, 161);
}
.copyright{
  border-top: 0.1px solid rgb(193, 189, 189);
  padding-top: 2em;
  padding-bottom: 1em;

}
.suggestions-list{
  color: white;
}
.search-bar{
  position: absolute;
  float: left;
  /* width: 10px; */
}
/* Add this to your stylesheet or use inline styles */
.suggestions-list {
  list-style: none;
  padding: 0;
  position: relative; /* Add this line */
  z-index: 9999; /* Add this line */
}

.clickable-list-item {
  background-color: white;
  color: grey;
  padding: 8px;
  cursor: pointer;
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
}

.clickable-list-item:hover {
  background-color: #f0f0f0; /* Optional: Change background color on hover */
}
